body {
	margin: 0;
	padding: 0;
}



a{
	text-decoration: none;
}

header .barra-de-anuncio{
	height: 25px;
	background: #B76E79;
}

header .flex-container{
	display: flex;
}

header .barra-de-anuncio .flex-container .flex-item{
	justify-content: space-evenly;
    flex-grow: 1;
    color: #FFFFFF;
}

header .barra-de-anuncio .flex-container .flex-item.left{
	padding-top: 5px;
	padding-left: 35px;
	width: 30%;
	

}

header .barra-de-anuncio .flex-container .flex-item.middle{
	text-align: center;
	padding-top: 2px;
	width: 40%;
	
}

header .barra-de-anuncio .flex-container .flex-item.right{
	text-align: right;
    font-size: 15px;
    padding-right: 50px;
    padding-top: 4px;
	width: 30%;

}

header .barra-de-anuncio .flex-item a{
	color: #FFFFFF;
}

header .barra-de-anuncio .flex-item a svg{

	height: 15px;
	color: #FFFFFF;
	fill: #FFFFFF;
	padding-left: 10px;
}



header .barra-de-anuncio .flex-item span.anuncio{
	font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;

}

header .logo-search-cart .flex-container .flex-item.left{
	margin: 25px 0px 0px 50px;
	width: 50%;

}

header .logo-search-cart .flex-container .flex-item.right{
	text-align: right;
	margin: 50px 30px 0px 0px;
	width: 50%;

}

header .logo-search-cart .flex-container .flex-item.left img{
	width: 28.666667%;

}

header .logo-search-cart .flex-item span.valor{
	border: 2px solid black;
    padding: 15px;
    margin: 20px;
}

header .logo-search-cart .flex-item a img{
	width: 20px;
}

header .logo-search-cart .flex-item span.valor svg{
    width: 15px;
}